@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Lato|Nanum+Brush+Script');
*{
    box-sizing: border-box! important;;
}
body{
    font-family:"IBM Plex Mono";
    margin: 0;
    background: #f1f1f1 !important;

}
h1{
     padding-bottom: 20px;
    font-family: "Nanum Brush Script"!important;
    font-size: 50px !important;
}

h2{

}

.main{
    padding: 10px;
    height: 550px;

}

.rodape{
    background-color: #f1f1f1;
    padding: 10px;
    height: 35px;
    text-align: center;
}
.iconIG{
    text-align: right;
    width: 40px;
    text-decoration: none;
}
.iconTWT{
    padding-top: 20px;
    width: 40px;
}
.iconFB{
    width: 40px;
}

.alinha-icons{
    padding-right: 5px;
    text-align: right;
}

a{
    text-decoration: none;
}
.nome{
    font-size: 60px;
    float: left;
    margin-left: 350px;
    height: 80px;
    margin-top: 60px;
}
.logo{
    float: left;
    width: 180px;
}

/---------------------------------------------------------------/

.h1Center{
    text-align: center;
}


.login {
    text-align: right;
    padding: 90px 10px 10px 0;
}

.menu-principal{
    display: inline-block !important;
    margin-top: 20px;
    width: 100%;
    height: 80px;
}
.parceiros{
    font-size: 25px;
    color: black;
}
.login_tela{
    width: 400px;
    float: right;
    margin-right: 70px;
}


.cabecalho {
    overflow: hidden; /*esconde scroll e permite que o background color preenche toda a div */
    background: #1D78BE;
    color: white;
    height: 170px !important;
    text-align: center;

}
.form{
    padding: 10px;
}
form img{
    border-radius: 20px;
}
form p{
    font-size: 12px;
    padding: 10px;
    font-family:"IBM Plex Mono";
}
form h2, dl, dt, dd{
    font-family:"IBM Plex Mono";
}

.he{
    margin-left: 50px;
    font-size: 25px;
}

